/* Used by Login and SignUp components */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.container form input {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.container form input ::placeholder {
    color: #999;
}

.container form button {
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #a71680;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.container h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    align-self: center;
}

.container h1:hover {
    color: #a71680;
}
